{% extends "UekVideoBundle::layout.html.twig" %}

{% block menu %}
<ul class="list-group">
<li class="list-group-item"><a href="{{path('uek_video_lists', {'list': "all"})}}">Lista dostępnych filmów</a></li>
<li class="list-group-item"><a href="{{path('uek_video_lists', {'list': "pop"})}}">Lista popularnych filmów</a></li>
<li class="list-group-item"><a href="{{path('uek_video_lists', {'list': "rev"})}}">Lista recenzowanych filmów</a></li>
<li class="list-group-item"><a href="{{path('uek_video_lists', {'list': "genre"})}}">Lista gatunków</a></li>
<li class="list-group-item"><a href="{{path('uek_video_cart')}}">Mój koszyk</a></li>
</ul>
{% endblock %}
